:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.bodyContainer{
  background-color: rgb(185, 101, 101);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyContainer .container{
  height: 400px;
  width: 400px;
  background-color: #fff;
  border-radius: 16px;
}
.bodyContainer .container .search{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.bodyContainer .container .search .details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.bodyContainer .container .search .details .detailsA {
display: flex;
gap: 8px;
}
.bodyContainer .container .title{
  display: flex;
  justify-content: center;
}
.bodyContainer .container .title .details{
display: flex;
gap: 30px;
margin-top: 10px;
}

.bodyContainer .container .title .details h1{
  font-size: 24px;
}

.bodyContainer .container .fruitsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bodyContainer .container .fruitsContainer .categoryName h1{
  font-size: 16px;
  font-weight: 900;
}


.bodyContainer .container .fruitsContainer .fruitsItems .containerMain{
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 2px 0px;
}